@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Instrument+Serif:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #05022d;
}

.badButton {
  cursor: pointer;
  font-size: clamp(0.125rem, 3.4vw, 1rem);
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #05022d;
  background-color: #d2fc00;
  padding: 20px;
  border-radius: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: all 0.25s ease;
}

.badButton:hover {
  color: #f5ffc2;
  background-color: #05022d;
  border: 2px solid #d2fc00;
  padding: 30px;
}

.onlyPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #d2fc00;
  border-radius: 10px;
}

.onlyPage > div {
  height: 100%;
  width: 100%;
  border-right: 2px solid #d2fc00;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.myHeroImage {
  height: min(55vw, 600px);
  width: auto;
}

.breakline {
  display: block;
}

h1 {
  color: #d2fc00;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 10vw, 4rem);
  border-bottom: 2px solid #d2fc00;
  width: 100%;
  padding: 10%;
}

.details {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  color: #fdfdfe;
}

p {
  width: 50%;
  font-size: clamp(0.125rem, 3.4vw, 1rem);
}

.skillDetails {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: auto;
  padding-right: 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (max-width: 800px) and (orientation: portrait) {
  h1 {
    text-align: center;
  }

  .onlyPage {
    flex-direction: column-reverse;
  }

  .details {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  p {
    padding-bottom: 2rem;
    width: auto;
  }
}
